/*Màn hính cỡ nhỏ*/
@media  (min-width :1200px) and (max-width:1650px) {
    
    .Gioithieu{
        background-image: url("./img/Nen.png");
        width: 100%;
        z-index: -1;
        height: 1067px;
        opacity: 0.36;
        position: absolute;
        background-attachment: fixed;
        background-position: center;
    }
    .GT{
        position:relative;
        width: 100%;
        height: 1067px;
        
    }
    .maket
    {
        background:  0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
        left: 250px;
        width: 418px;
        height: 275px;
        z-index: 1;
        position: absolute;
        top: -130px;
     
        
       
    }
    .anhtet
    {
        position: absolute;
        top: -130px;
        left: 670px;
        width: 650px;
        height: 463px;
        background:  0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
   
    }
    .Street{
        position: absolute;
        background:  0% 0% no-repeat padding-box;
        box-shadow: -5px 5px 0px #00000012;
        border-radius: 10px;
        opacity: 1;
        margin-left: 200px;
        width: 272px;
        height: 421px;
        margin-top:280px
    }
    .test
    {
        margin-bottom: -100px;
        margin-left: 625px;
    }
    .banhcuon
    {
        width: 200px;
        height: 30px;
        opacity: 1;
        margin-top: -1100px;
    }
    
    .Menu
    {
        position: relative;
        background-repeat: no-repeat;
        width: 1500px;
        height: 700px;
        opacity: 1;
        left: 21%;
        /* right: 303px; */
        background-image: url("./img/Path26.png");
        zoom:100%
        
        
    }
    
    .Trayproduct
    {
        position: absolute;
        /* margin-left: 185px; */
        top:40px;
        right: 662px;
        width: 1066px;
        height: 655px;
       
        opacity: 1;
    }
    .Logo{
        position: absolute;
        top:50px;
        left: 600px;
        width: 390px;
        height: 390px;
        opacity: 1;
    }
   .Banhcuon
   {
        position: relative;
        top:-240px;
        /* right: 20px; */
        left: 75px;
        width: 27px;
        height: 27px;
        opacity: 1;
        background-image: url("./img/Button.png");
        cursor: pointer;
        
   }
 
   .Cha
   {
        position: relative;
        top:-400px;
        left: 250px;
        width: 27px;
        height: 27px;
        opacity: 1;
        background-image: url("./img/Button.png");
        cursor: pointer;
   }
   .Nuocham
   {
        position: relative;
        top :-200px;
        left: 380px;
        width: 27px;
        height: 27px;
        opacity: 1;
        background-image: url("./img/Button.png");
        cursor: pointer;
   }
   .Hanh
   {
        position: relative;
        top :-90px;
        /* left: 360px; */
        left: 400px;
        width: 27px;
        height: 27px;
        opacity: 1;
        background-image: url("./img/Button.png");
        cursor: pointer;

   }
   .Rau
   {
        position: relative;
        top:-500px;
        left: 500px;
        width: 27px;
        height: 27px;
        opacity: 1;
        background-image: url("./img/Button.png");
        cursor: pointer;
   }
  .Hoa{
      position: relative;
      top:-205px;
      left:-46px
     
  }
  .Icon
  {
    position: relative;
    top:-215px;
    left:-50px
  }
  .Nav_Tab
   {
        position: relative;
        left: 16px;
   }
   
    
}
/*Màn hính cỡ to*/
@media (min-width: 1700px)  {
    .Gioithieu{
        background-image: url("./img/Nen.png");
        width: 100%;
        z-index: -1;
        height: 1067px;
        opacity: 0.36;
        position: absolute;
    }
    .GT{
        position:relative;
        width: 100%;
        height: 1067px;
    }
    .maket
    {
        background:  0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
        left: 550px;
        width: 418px;
        height: 275px;
        z-index: 1;
        position: absolute;
        top: -130px;
        
       
    }
    .anhtet
    {
        position: absolute;
        top: -130px;
        left: 1000px;
        width: 650px;
        height: 463px;
        background:  0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
   
    }
    .Street{
        position: absolute;
        background:  0% 0% no-repeat padding-box;
        box-shadow: -5px 5px 0px #00000012;
        border-radius: 10px;
        opacity: 1;
        margin-left: 350px;
        width: 272px;
        height: 421px;
        margin-top:280px
        
    }
    .test
    {
        margin-bottom: -200px;
        margin-left: 700px;
    }
    .banhcuon
    {
        width: 250px;
        height: 38px;
        opacity: 1;
        margin-top: -1200px;
    }
    .Menu
    {
        position: relative;
        background-repeat: no-repeat;
        width: 1500px;
        height: 700px;
        opacity: 1;
        left: 550px;
        right: 303px;
        background-image: url("./img/Path26.png");
        
    }

    .Trayproduct
    {
        position: absolute;
        /* margin-left: 185px; */
        top:40px;
        right: 662px;
        width: 1066px;
        height: 655px;
        /* box-shadow: -50px 0px 6px #00000014; */
        opacity: 1;
    }
    /* .Trayproduct:hover{
        display: none;
    } */
    .Logo{
        position: absolute;
        top:60px;
        left: 550px;
        width: 390px;
        height: 390px;
        opacity: 1;
    }
    .Banhcuon
    {
         position: relative;
         top:-240px;
         /* right: 20px; */
         left: 30px;
         width: 27px;
         height: 27px;
         opacity: 1;
         background-image: url("./img/Button.png");
         cursor: pointer;
         
    }
  
    .Cha
    {
         position: relative;
         top:-400px;
         left: 250px;
         width: 27px;
         height: 27px;
         opacity: 1;
         background-image: url("./img/Button.png");
         cursor: pointer;
    }
    .Nuocham
    {
         position: relative;
         top :-200px;
         left: 380px;
         width: 27px;
         height: 27px;
         opacity: 1;
         background-image: url("./img/Button.png");
         cursor: pointer;
    }
    .Hanh
    {
         position: relative;
         top :-90px;
         /* left: 360px; */
         left: 400px;
         width: 27px;
         height: 27px;
         opacity: 1;
         background-image: url("./img/Button.png");
         cursor: pointer;
 
    }
    .Rau
    {
         position: relative;
         top:-500px;
         left: 500px;
         width: 27px;
         height: 27px;
         opacity: 1;
         background-image: url("./img/Button.png");
         cursor: pointer;
    }
    .Hoa{
        position: relative;
        top:-205px;
        left:-46px
       
    }
    .Icon
    {
      position: relative;
      top:-215px;
      left:-50px
    }
   .Nav_Tab
   {
    position: relative;
    left: 300px;
    
   }
   

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#FFBE00 ;
    border-color: #FFCB08;
    text-align: left;
    font: normal normal normal 25px/31px UTM Alter Gothic Regular;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    border-radius: 5px;
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
    color: var(--unnamed-color-392a00);
    text-align: left;
    font: normal normal normal 25px/31px UTMAlterGothic;
    letter-spacing: 0px;
    color: #392A00;
    opacity: 1;
    
}
.Tab
{
    position: relative;
    left: 0px;
    width: 100%;
    height: auto;
    background: #EFE5D4 0% 0% no-repeat padding-box;
    
    
}
.TextBc{ 
    display: none;
    top: -190px;
    left: -330px;
    position: absolute;
	width: 347px;
    height: 193px;
	background-color: green;
    border: 3px solid var(--unnamed-color-840c16);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #840C16;
    border-radius: 10px 10px 0px 10px;
    opacity: 0.9;
    
}
.TextCha{ 
    display: none;
    top: -190px;
    left: -340px;
    position: absolute;
	width: 347px;
    height: 193px;
	border: 3px solid var(--unnamed-color-840c16);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #840C16;
    border-radius: 10px 10px 0px 10px;
    opacity: 0.9;
    
}
.TextHanh{ 
    display: none;
    top: -180px;
    left: 25px;
    position: absolute;
	width: 347px;
    height: 193px;
	border: 3px solid var(--unnamed-color-840c16);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #840C16;
    border-radius: 10px 10px 0px 10px;
    opacity: 0.9;
}
.TextRau{ 
    display: none;
    top: 30px;
    left: 15px;
    position: absolute;
	width: 347px;
    height: 193px;
	border: 3px solid var(--unnamed-color-840c16);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #840C16;
    border-radius: 10px 10px 0px 10px;
    opacity: 0.9;
}
.TextMam{ 
    display: none;
    top: -180px;
    left: 25px;
    position: absolute;
	width: 347px;
    height: 193px;
	border: 3px solid var(--unnamed-color-840c16);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #840C16;
    border-radius: 10px 10px 0px 10px;
    opacity: 0.9;
}
.Banhcuon:hover .TextBc{
    display: block;
}
.Cha:hover .TextCha{
    display: block;
}
.Hanh:hover .TextHanh
{
    display: block;
}
.Rau:hover .TextRau{
    display: block;
}
.Nuocham:hover .TextMam{
    display: block;
}
.KhungHinh1
{
    width: 41px;
    height: 34px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    opacity: 1;
}
.txt
{
    width: 104px;
    height: 141px;
    background: var(--unnamed-color-ffbe00) 0% 0% no-repeat padding-box;
    background: #FFBE00 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 5px;
    color: #840C16;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-840c16);
    text-align: left;
    font: normal normal normal 20px/25px UTM Alter Gothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
}
.color2
{
    color:white
}