.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media  (min-width :1000px) and (max-width:1649px) {
  iframe
  {
    width:550px;
    height:500px
  }
  .Dathangphone
  {
    display: none;
  }
  .iconBack
  {
    width:100px
  }
}
@media (min-width:1650px) {
  iframe
  {
    width:550px;
    height:600px
  }
   .Dathangphone
  {
    display: none;
  }
  .iconBack
  {
    width:150px
  }
}
@media (max-width :755px) 
{
  
  .DathangPC
  {
    display:none
  }
  .iconBack
  {
    width:100px
  }
}
