@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

.contentfooter{
    background-image: url(./img/backgroundFooter.png);
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1366px; */
    opacity: 1;
    background-size: cover;
    position: relative;
  
    /* top: -471px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.contactFooter{

    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-address{
    padding-left: 8%;
    width: 244px;
}
.like-facebook{
    position: relative;
    top: 39px;

    width: 270px;
    height: 166px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.borderboxbottom{
    position: absolute;
     bottom: 0;
     right: 0;
     width: 57px;
     height: 46px;
     border-bottom: 5px solid #840C16;
     border-right: 5px solid #840C16;
     border-bottom-right-radius: 5px 5px 
}
.shadow-contact{
    position: absolute;
    bottom: -15px;
    left: -15px; 
    width: 1140px;
    height: 287px;
    background: #FFBE00 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.78;
    z-index: -1;
}
.infor-contact{
    margin-top: 69px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* bottom: 15px;
    left: 15px; */
    text-align: center;
    position: relative;
    width: 1140px;
    height: 287px;
    background: #FCDE9E 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.copyright{
    margin-top: 54px;
    margin-bottom: 69px;
    text-align: center;
    font: normal normal 600 16px/35px Montserrat-Regular;
    letter-spacing: 0px;
    color: #FCDE9E;
    opacity: 1;
}
.contact-address > .contact-header{
    text-align: left;
    font: normal normal normal 30px/38px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    margin-bottom: 21px;
}
.shop2 > .contact-header{
    height: 37px;
    text-align: left;
    font: normal normal normal 20px/25px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
}
.contact-body{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.contact-body > span{
    text-align: left;
    font: normal normal normal 15px/21px SFUFuturaBook;
    letter-spacing: 0px;
    color: #392A00;
}
.strong-text{
    display: inline;
    text-align: left;
    font: normal normal bold 15px/21px SFUFuturaBold;
    letter-spacing: 0px; 
    color: #392A00;
}

.shop2{
    width: 261px;
}
.logo-footer{
}
.breaking-news{ 
    position: relative;
}
.img-carousel{
    height: 153px;
    border-radius: 5px;
    width: 153px;
}
.text-news{
    
    padding: 0 10px;
    display: block;
    width: 100%; 
    /* max-width: 187px; */
    height: 100%;
    max-height: 139px; 
    text-align: left;
    font: normal normal normal 13px/20px Montserrat-Regular;
    letter-spacing: 0px;
    color: #392A00;
}
.mybtn-pre{
    width: 19px;
    position: absolute;
    left: -81px;
}
.mybtn-next{
    width: 19px;
    position: absolute;
    right: -81px;
}
.text-news-header{
    font: normal normal normal 20px/25px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
}
.text-news-body{
    margin-top: 6px;
    margin-bottom: 9px;
    font: normal normal normal 13px/20px Montserrat-Regular;
    letter-spacing: 0px;
    color: #392A00;
}
.text-news-date{
    font: normal normal bold 13px/20px Montserrat-Bold;
    letter-spacing: 0px;
    color: #FCDE9E;
}
/* rating */
.rating{
    background-image: url(./img/rating01.png);
    width: 100%;
    height: 100%;
    position: absolute;
}
.rating-card img {
    width: 100%;
    height: 100%;
}
.tintucmoinhat{
    color: var(--unnamed-color-840c16);
    text-align: left;
    font: normal normal normal 53px/66px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    margin-bottom: 77px;
}

.contact-rowtext > span{
    display: inline;
}
.text-news-body
{
    font-size: 9px;
    
}
.text-news{
    height:220px
}
.text-news-date
{
    font-size: 8px;
}
.CommentCarousel
{
    width: 400px;
    position: absolute;
    top:10%;
    right: 9%;
    text-align: left;
    font: normal normal normal 18px/30px Montserrat-Regular;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 100;
}
.wrap-tintucmoinhat{
    display: flex;
    justify-content: center;
    flex-direction: column;
     margin-bottom: 20px;
    margin-top: 477px;
}
.slide-mobie-footer{
    display: none;
    height: 400px;
    background-color: red;
}
.slide-mobie-footer ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    margin-left: 13px;
    overflow-x: auto;
}
.slide-mobie-footer li{
    display: flex;
    flex-shrink: 0;
    padding-right: 8px;
    width: 350px;
}
@media (min-width :1200px) and (max-width:1650px)
{
    .contentfooter{
        margin-top: -400px;
    }
}
@media (min-width:1649px)
{
    .contentfooter{
        margin-top: -530px;
    }
}
@media (max-width: 700px) {
    .wrap-tintucmoinhat{
        display: none;
    }
    .slide-mobie-footer{
        display: block;
    }
    .wrap-boss{
        width: unset;
        height: unset;
    }
    .ct-boss{
        width: unset;
        height: 731px;
    }
    .imgboss{
        height: 550px;
        width: 325px;
    }
    .ct-boss .bossbr01{
        width: 500px;
    }
    .ct-boss .bossbr02{
        width: 500px;
    }
    .ct-boss .bossshape{
        
        top: -51px;
        left: 0;
        width: 575px;
    }
    .ct-boss .boss1946{
        left: 4px;
        bottom: 30px;
        font: normal normal normal 182px/92px UTMAlterGothic;
        text-shadow: -31px -31px 0px #00000014;
    }
    .ct-boss > .w{
        display: none;
    }
    .ct-boss .imgboss{
        left: 52px;
        width: unset;
        height: unset;
    }
    .wraptextBoss{
        width: 210px;
        height: 250px;
       left: 0;
    }
    .textboxboss{
        width: 210px;
        height: 250px;
        font: normal normal normal 18px/23px UTMAlterGothic;
    }
    .textboxboss > span{
        padding: 26px;
        width: unset;
        height: unset;
    }
    .textboxboss{
        top: unset;
        left: unset;
    }
    .ct-boss .borderboxtop {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 24px;
        border-top: 3px solid #840C16;
        border-left: 3px solid #840C16;
        border-top-left-radius: 3px 3px;
    }
    .ct-boss .borderboxbottom {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 24px;
        border-bottom:3px solid #840C16;
        border-right:3px solid #840C16;
        border-bottom-right-radius:3px 3px;
    }
    .ct-boss .textboss {
        width: 256px;
        position: absolute;
        top: 329px;
        left: 65px;
        z-index: 3;
    }
    .fisrtimgs{
        margin: 0 5px;
    }
    .fisrtimgs img:first-child{
        padding: 0;
        padding-right: 5px;
    }
    .fisrtimgs img:nth-child(2){
        padding: 0;
    }
    .fisrtimgs img:nth-child(3){
        padding: 0;
        padding-top: 5px;
        padding-right: 5px;
    }
    .fisrtimgs img:nth-child(4){
        
        padding: 0;
        padding-top: 5px;
    }
    .fisrtimgs img:nth-child(5){
        
        padding: 0;
        padding-top: 5px;
    }
    .ct-intro-head > span{
        width: 358px;
       height: 329px;
       font-size: 15px;
   }
   .ct-intro-head > div{
        left: -38px;
        top: 20px;
   }
   .ct-intro-head .huongvidicung{
       font-size: 22px;
   }
   .textrow1-head{
       line-height: 17px;
   }
   .textrow1-body {
    font-size: 25px;
    line-height: 31px;
    }
    .wrap-textrow1 {
        padding: 0 13px 13px;
    }
    .ct-intro-body .col5-custom{
        align-items: flex-start;
    }
    .ct-intro-body .col-nth3{
        padding: 0;
        margin: 0;
        text-align: end;
        justify-content: end;
        flex-direction: column-reverse;
    }
    .col-nth3-div{
        padding: 0 24px;
    }
    .col-nth3 > div:first-child{
        left: 0;
        margin-top: 22px;
    }
    .myfiximg-01 > img{
        width: 100%;
     }
     .ct-intro-body .col5-custom{
         margin-top: 22px;
     }
     .body-row1 > div:nth-child(4){
        margin-top: 22px;
    }
}