@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

.Footer{
    
}
.contentfooter{
    background-image: url(./img/backgroundFooter.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 1366px;
    opacity: 1;
    background-size: cover;
    position: relative;
    margin-top: -471px;
    /* top: -471px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.contactFooter{

    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-address{
    width: 244px;
    margin-left: 66px;
    margin-right: 62px;
}
.like-facebook{
    margin-left: 53px;
    margin-right: 27px;
}
.shadow-contact{
    position: absolute;
    bottom: -15px;
    left: -15px; 
    width: 1140px;
    height: 287px;
    background: #FFBE00 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.78;
    z-index: -1;
}
.infor-contact{
    margin-top: 69px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* bottom: 15px;
    left: 15px; */
    text-align: center;
    position: relative;
    width: 1140px;
    height: 287px;
    background: #FCDE9E 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.copyright{
    margin-top: 54px;
    margin-bottom: 69px;
    text-align: center;
    font: normal normal 600 16px/35px Montserrat-Regular;
    letter-spacing: 0px;
    color: #FCDE9E;
    opacity: 1;
}
.contact-address > .contact-header{
    text-align: left;
    font: normal normal normal 30px/38px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    margin-bottom: 21px;
}
.shop2 > .contact-header{
    height: 37px;
    text-align: left;
    font: normal normal normal 20px/25px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
}
.contact-body{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.strong-text{
    text-align: left;
    font: normal normal bold 15px/21px SFUFuturaBold;
    letter-spacing: 0px; 
    color: #392A00;
}
.contact-rowtext {
    text-align: left;
    font: normal normal normal 15px/21px SFUFuturaBook;
    letter-spacing: 0px;
    color: #392A00;
}
.shop2{
    width: 261px;
}
.logo-footer{
    margin-left: 55px;
}
.breaking-news{ 
    position: relative;
    min-width: 1130px;
}
.img-carousel{
    height: 166px;
    min-width: 166px;
    border-radius: 5px;
}
.my-inner{
}
.text-news{
    
    margin-left: 17px;
    margin-right: 15px;
    display: block;
    width: 100%; 
    max-width: 187px;
    height: 100%;
    max-height: 139px; 
    text-align: left;
    font: normal normal normal 13px/20px Montserrat-Regular;
    letter-spacing: 0px;
    color: #392A00;
}
.mybtn-pre{
    width: 19px;
    position: absolute;
    left: -81px;
}
.mybtn-next{
    width: 19px;
    position: absolute;
    right: -81px;
}
.text-news-header{
    font: normal normal normal 20px/25px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
}
.text-news-body{
    margin-top: 6px;
    margin-bottom: 9px;
    font: normal normal normal 13px/20px Montserrat-Regular;
    letter-spacing: 0px;
    color: #392A00;
}
.text-news-date{
    font: normal normal bold 13px/20px Montserrat-Bold;
    letter-spacing: 0px;
    color: #FCDE9E;
}
/* rating */
.rating{
    background-image: url(./img/rating01.png);
    width: 100%;
    height: 100%;
    position: absolute;
}
.rating-card img {
    width: 100%;
    height: 100%;
}
.tintucmoinhat{
    color: var(--unnamed-color-840c16);
    text-align: left;
    font: normal normal normal 53px/66px UTMAlterGothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    margin-bottom: 46px;
    margin-left: 32px;
}
.contact-rowtext > span{
    display: inline;
}
