@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
:root {

    /* Colors: */
    --unnamed-color-392a00: #392A00;
    --unnamed-color-ffbe00: #FFBE00;
    --unnamed-color-840c16: #840C16;
    --back: #FCDE9E;
    
    /* Font/text values */
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-family-utm-alter-gothic: UTM Alter Gothic;
    --unnamed-font-family-sfu-futura: SFU Futura;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-53: 53px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-66: 66px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-utm-alter-gothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-53);
    line-height: var(--unnamed-line-spacing-66);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-840c16);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-840c16);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-392a00);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-sfu-futura);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-840c16);
}
.Footer{
    margin-top: 91px;
    height: calc(100% - 471px);
}
.contentfooter{
    background-image: url(./img/backgroundFooter.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 1195px;
    opacity: 1;
    background-size: cover;
    position: relative;
    top: -471px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactFooter{

    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-address{
    width: 244px;
    margin-left: 66px;
    margin-right: 62px;
}
.like-facebook{
    margin-left: 53px;
    margin-right: 27px;
}
.shadow-contact{
    position: absolute;
    bottom: -15px;
    left: -15px; 
    width: 1140px;
    height: 287px;
    background: #FFBE00 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.78;
    z-index: -1;
}
.infor-contact{
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* bottom: 15px;
    left: 15px; */
    position: relative;
    width: 1140px;
    height: 287px;
    background: #FCDE9E 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.copyright{
    margin-top: 46px;
    margin-bottom: 57px;
    text-align: left;
    font: normal normal 600 18px/30px Montserrat;
    letter-spacing: 0px;
    color: #FCDE9E;
    text-transform: uppercase;
    opacity: 1;
}
.contact-address > .contact-header{
    text-align: left;
    font: normal normal normal 30px/38px UTM Alter Gothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
    margin-bottom: 21px;
}
.shop2 > .contact-header{
    height: 37px;
    text-align: left;
    font: normal normal normal 20px/25px UTM Alter Gothic;
    letter-spacing: 0px;
    color: #840C16;
    opacity: 1;
}
.contact-body{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.strong-text{
    text-align: left;
    font: normal normal bold 15px/21px SFU Futura;
    letter-spacing: 0px; 
    color: #392A00;
}
.contact-rowtext {
    text-align: left;
    font: normal normal normal 15px/21px SFU Futura;
    letter-spacing: 0px;
    color: #392A00;
}
.shop2{
    width: 261px;
}
.logo-footer{
    margin-left: 55px;
}
.breaking-news{ 
    position: relative;
    min-width: 1130px;
}
.img-carousel{
    height: 166px;
    min-width: 166px;
    border-radius: 5px;
}
.my-inner{
}
.text-news{
    
    margin-left: 17px;
    margin-right: 15px;
    display: block;
    width: 100%; 
    max-width: 187px;
    height: 100%;
    max-height: 139px; 
    text-align: left;
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #392A00;
}
.mybtn-pre{
    width: 19px;
    position: absolute;
    left: -81px;
}
.mybtn-next{
    width: 19px;
    position: absolute;
    right: -81px;
}
.text-news-header{
    font: normal normal normal 20px/25px UTM Alter Gothic;
    letter-spacing: 0px;
    color: #840C16;
}
.text-news-body{
    margin-top: 6px;
    margin-bottom: 9px;
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #392A00;
}
.text-news-date{
    font: normal normal bold 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #FCDE9E;
}
/* rating */
.rating{
    background-image: url(./img/rating01.png);
    width: 100%;
    height: 100%;
    position: absolute;
}
.rating-card img {
    width: 100%;
    height: 100%;
}